@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div>
        @using (Html.BeginForm("Index", "Exercise01", FormMethod.Get))
        {
            @Html.DropDownList("Countries")
            <button type="submit"> Show country code </button>
            if (ViewBag.CountryCode != null)
            {
                <p><strong>Country code: </strong>@ViewBag.CountryCode</p>
            }
            else
            {
                <p> : </p>
            }
        }
        @using (Html.BeginForm("Index", "Exercise01"))
        {
            <table>
                <tr>
                    <td>@Html.Label("Country")</td>
                    <td>@Html.TextBox("Country")</td>
                </tr>
                <tr>
                    <td>@Html.Label("Code")</td>
                    <td>@Html.TextBox("Code")</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit"> Add </button></td>
                </tr>
            </table>
            
        }



    </div>
</body>
</html>
